{% extends 'base.html' %}
{% block title%}Post Detail{% endblock %}

{% block contents %}
<!-- Bootstrapのグリッドシステム -->
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <!-- タイトル -->
            <h2>{{ object.title }}</h2>
            <!-- コメント -->
            <p>{{ object.comment }}</p>
            <br>
            <!-- 投稿日時 -->
            <p>{{ object.posted_at }}</p>
            <!-- １枚目の写真 -->
            <p><img src="{{ object.image1.url }}"　alt="picture" width="100%" height="100%"></img></p>
            <!-- ２枚目の写真が投稿されていたら表示する -->
            {% if object.image2 %}
                <p><img src="{{ object.image2.url }}" alt="picture" width="100%" height="100%"></img></p>
            {% endif %}

            <!-- 投稿がログイン中のユーザーのものであれば削除ボタンを表示 -->
            {% if request.user == object.user %}
            <form method="POST">
                <!-- リンク先のURL：photo/<Photo postsテーブルのid値>/delete/ -->
                    <a href="{% url 'katu002:photo_delete' object.pk %}" class="btn btn-primary my-2">削除する</a>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}