{% extends 'base.html' %}
{% block title %}Send password reset{% endblock %}

{% block contents %}
<hr>
 <!-- Bootstrapのグリッドシステム -->
 <div class="container">
     <div class="row">
         <div class="col offset-2 py-4">
             <h5>パスワードのリセット手順をメールで送信しました。メールは直ぐに届きます。</h5>
             <br>
             <h6>
                 メールが届かない場合には、登録済みのメールであるかどうかを確認し、迷惑メールフォルダーも確認してみてください。
             </h6>
             <!-- トップページへのリンク -->
             <a href="{% url 'katu002:index' %}">GreaseMonkey</a>
         </div>
     </div>
 </div>
 {% endblock %}