{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}

{% block contents %}
 <!-- Bootstrapのグリッドシステム -->
 <div class="container">
     <div class="row">
         <div class="col py-4">
             <hr>
             <h3>パスワードをリセットしますか？</h3>
             <p>
                 登録済みのメールアドレスを入力してください。
                 パスワードリセットリンクを記載したメールを直ぐにお届けします。
             </p>
             <br>
             <!-- メール送信のためのフォームを設置 -->
             <form action="" method="POST" class="text-center">
                 {% csrf_token %}
                 <!-- formに格納されているインプットボックストラベルを出力 -->
                 {{ form }}
                 <!-- 送信ボタン -->
                 <input type="submit" value="メールを受け取る" /><br>
             </form>
             <br>
             <!-- トップページへのリンク -->
             <a href="{% url 'katu002:index' %}">GreaseMonkey</a>
             <hr>
         </div>
     </div>
 </div>
 {% endblock %}